<head>
    <link rel="stylesheet" href="/styles/audioXIntro.css">
</head>
<body>
    <div id="container">
        <div id="logobox"><a href="/brands/AudioX"><img src="https://i.ibb.co/r3Wnm5D/audio-X-trans.png" id="audioximg"></a></div>
        <h4 id="text"><i>Welcome to AudioX, premium range of carefully crafted speaker drivers made for performance</i></h4>
    </div>
    <div id="canvas">
        <span id="showytxtbox">
           <h1 id="showytxt">HOTTEST</h1>
           <br>
           <h1 id="showytxt">SELLING</h1>
           <br>
           <h1 id="showytxt">SPEAKERS</h1>
           <br>
        </span>
        <div id="carousel">
            <div id="cards">
                <% for(let i = 0; i < 8; i++) { %>
                <div class="card">
                    <a href="/products/<%=allBrands[1].products[i % 4]._id%>"><img src="<%=allBrands[1].products[i % 4].mainimage%>" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                      <h4 class="card-title" id="cardtxt"><%=allBrands[1].products[i % 4].name%></h4>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <script src="/javaScript/audioXCarousel.js"></script>
</body> 
</html>

