<head>
  <link rel="stylesheet" href="/styles/brandCard.css">
</head>

<body>
<%for(let i = 0; i<= 2; i++){%>
<a href= "brands/<%=allBrands[i].name%>">
<div id="card" style="width: 16rem;">
    <img src="<%= allBrands[i].mainimage%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="heading"><%=allBrands[i].name%></h5>
      <p class="card-text"><%=allBrands[i].description%></p>
    </div>
  </div>
</a>
<%}%>
  <a href= "/allBrands">
    <div id="card" style="width: 16rem;">
        <img src="https://i.ibb.co/ts1frn8/DJ-Equipment-Guide.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" id="heading">View All Brands</h5>
          <button class="btn btn-primary" id="viewmore">View All</button>
        </div>
    </div>
    </a>
</body>







  

