<head>
    <link rel="stylesheet" href="/styles/n-labsIntro.css">
</head>
<body>
    <div id="container">
        <div id="logobox"><img src="<%=allBrands[3].mainimage%>" id="n-labsimg"></div>
        <h4 id="text"><i>Premium range of Powerful Amplifiers build to carry your power needs </i></h4>
    </div>
    <div id="canvas2">
        <%-include("./n-labsCarousel.ejs")%>
    </div>
    <script src="/javaScript/audioXCarousel.js"></script>
</body>
