
<head>
  <link rel="stylesheet" href="styles/navbar.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark sticky-top">
    <a class="navbar-brand logo" href="#">
      <img src= "https://i.ibb.co/YXgXmj1/3h48ksu1-fotor-bg-remover-2024073012935.png" width="87" height="70" class="d-inline-block align-top logo" alt="brand">
    </a>
    <h4 class="brandname"><b>KRISHNA GALAXY</b></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link brand" href="#" id="brandsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="brandsDropdown">
            <img src="https://i.ibb.co/K5QXLWS/Jia-Lighting-modified.png" alt="Jia-Lighting-modified" class="dropdown-item" href="#">
            <img src="https://i.ibb.co/ZcQwH2M/nlabs-logo.png" alt="nlabs-logo" class="dropdown-item" href="#">
            <img src="https://i.ibb.co/hsY7wWB/zenith.png" alt="zenith" class="dropdown-item" href="#">
            <span id="viewmore"><button class="btn btn-primary">View<br> More</button></span>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="categoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
            <img src="https://i.ibb.co/G5bDvXQ/speaker-menu-cat.jpg" alt="speaker-menu-cat" class="dropdown-item category" href = "#">
            <img src="https://i.ibb.co/tqvYMff/lighting-menu-cat.jpg" alt="lighting-menu-cat" class="dropdown-item category" href = "#">
            <img src="https://i.ibb.co/Z2fsZ0b/amp-menu-cat.jpg" alt="amp-menu-cat" class="dropdown-item category" href = "#">;
            <span id="viewmore"><button class="btn btn-primary">View<br> More</button></span>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="allProductsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
          </a>
          <div class="dropdown-menu" aria-labelledby="allProductsDropdown">
            <a class="dropdown-item" href="#">something</a>
            <a class="dropdown-item" href="#">kuch bhi</a>
            <a class="dropdown-item" href="#">savita bhabi</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="visitShopDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Visit Shop
          </a>
          <div class="dropdown-menu" aria-labelledby="visitShopDropdown">
            <a class="dropdown-item" href="#">Krishna Galaxy</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <i class="fas fa-shopping-cart"></i>
        <span class="searchbar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search any product/category" aria-label="Search">
        </span>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a href="#">
      </a>
    </div>
  </nav>
</body>

