<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Navbar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    @media screen and (min-width: 1024px) {
      .dropdown:hover .dropdown-menu {
      display: block;
    }
    .navbar{
      height: 5rem;
      color: white;
      background-color: rgb(51, 51, 51) !important;
    }
    .brandname{
      align-content: center;
      padding-right: 3%;
      color: rgb(255, 82, 82);
      font-size: 2.2rem;
      line-height: 100%;
      text-align: center;
      font-family: score;
      letter-spacing: 2px;
      
    }
    .logo{
      margin-right: 0.5%;
    }

    .nav-link {
  font-size: 1.2rem;
  padding-bottom: 13%;
  color: rgb(255, 255, 255) !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: rgb(255, 255, 255);
  transition: width 0.3s ease, right 0.3s ease;
}

.nav-link:hover::after {
  width: 60%;
  right: 0;
}

.fa-shopping-cart {
  color: rgb(243, 123, 79) !important;
  margin-right: 0.9rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  transition: transform 0.2s ease;
}

.fa-shopping-cart:hover {
  transform: scale(1.2);
}

/* Add this CSS to your existing styles */
.dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

    }


    @font-face {
    font-family: score;
    src: url(Helvetica-Neue-97-Black-Condensed.ttf);
}

    @font-face {
    font-family: cabrion;
    src: url(Cabrion-Bold.ttf);
}


@media screen and (max-width: 750px) {
  *{
    margin: 0% !important;
    padding: 0% !important;
  }
  .brandname{
      color: rgb(255, 82, 82);
      font-size:1.65rem;
      line-height: 100%;
      text-align: center;
      letter-spacing: 2px;
      font-family: sans-serif;
      font-weight: 650;
      margin-right: 5.7% !important;
    }

    .navbar-toggler{

      margin-right: 3% !important;

    }


    .brand{
      padding-top: 2% !important;
    }
    .nav-link {
  display:block !important;
  font-size: 1.4rem;
  padding-bottom: 13%;
  color: rgb(255, 255, 255) !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  display: inline-block;
  padding-left: 2% !important;
  padding-bottom: 3.5% !important;
  background-color: rgb(51, 51, 51) !important;
  transition: 0.2s ease !important;
}

.nav-link:active{
  background-color: rgb(255, 86, 86) !important;
}
.nav-link:active::after{
  background-color: rgb(255, 181, 90) !important;
}
.dropdown-item{
  display: inline !important;
  max-width: 22%;
}

#audiox{
  max-width: 30%;
}

.btn-primary{
  background-color: red;
  height: 4rem;
  width: 4rem;
  margin: 0.6rem !important;
  text-align:center !important;
}
.category{
  max-width: 24% !important;
}
.searchbar{
  max-width: 60%;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  margin-right: 4% !important;
  margin-left: 6% !important; 
  margin-top: 4% !important;
  text-align: center !important;
}

.my-sm-0{
  margin-top: 6% !important;
  color: white;
  background-color: black;
  border-color: rgb(0, 0, 0);
  padding: 5px !important;
}
.fa-shopping-cart {
  color: rgb(243, 123, 79) !important;
  font-size: 1.6rem;
  margin-left: 2rem !important;
  margin-right: 0% !important;
  margin-top: 4% !important;


}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: rgb(255, 255, 255);
  transition: width 0.28s ease, right 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  right: 0;
}

.fa-list{
  color: white;
  font-size: 1.7rem;
}

}
    
      </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
    <a class="navbar-brand logo" href="#">
      <img src= "https://i.ibb.co/YXgXmj1/3h48ksu1-fotor-bg-remover-2024073012935.png" width="87" height="70" class="d-inline-block align-top logo" alt="brand">
    </a>
    <h4 class="brandname"><b>KRISHNA GALAXY</b></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link brand" href="#" id="brandsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="brandsDropdown">
            <img src="/Jia_Lighting-modified.png" class="dropdown-item" href="#"></img>
            <img src="/Screenshot 2024-07-30 060512.png" class="dropdown-item" id="audiox" href="#"></img>
            <img src="/logo-1-1-2048x1609.png" class="dropdown-item" href="#"></img>
            <button class="btn btn-primary">View<br> More</button>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="categoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
            <img src="/WhatsApp Image 2024-07-30 at 06.57.25_c0a1ca83.jpg" class="dropdown-item category" href="#"></img>
            <img src="/WhatsApp Image 2024-07-30 at 07.04.54_9f845137.jpg" class="dropdown-item category" href="#"></img>
            <img src="/WhatsApp Image 2024-07-30 at 07.12.15_9e2ad507.jpg" class="dropdown-item category" href="#"></img>
            <button class="btn btn-primary">View<br> More</button>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="allProductsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
          </a>
          <div class="dropdown-menu" aria-labelledby="allProductsDropdown">
            <a class="dropdown-item" href="#">something</a>
            <a class="dropdown-item" href="#">kuch bhi</a>
            <a class="dropdown-item" href="#">savita bhabi</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="visitShopDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Visit Shop
          </a>
          <div class="dropdown-menu" aria-labelledby="visitShopDropdown">
            <a class="dropdown-item" href="#">Krishna Galaxy</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <i class="fas fa-shopping-cart"></i>
        <span class="searchbar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search any product/category" aria-label="Search">
        </span>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a href="#">
      </a>
    </div>
  </nav>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
