<head>
    <link rel="stylesheet" href="/styles/productCard.css">
</head>
<%for(let i = 0; i <= 3; i++){%>
<div id="card" style="width: 16rem;">
    <img src= "<%=allCategories[i].mainimage%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="heading"><%=allCategories[i].name%></h5>
      <p class="card-text"><%=allCategories[i].description%></p>
    </div>
  </div>
  <%}%>
  <div id="card" style="width: 16rem;">
    <img src= "https://i.ibb.co/ts1frn8/DJ-Equipment-Guide.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="heading">View All Categories</h5>
      <button class="btn btn-primary" id="viewmore">View All</button>
    </div>
  </div>
