<head>
    <style>
        #card{
            border: 1px solid rgb(179, 179, 179);
            margin: 1rem;
            border-radius: 1rem;
            display: inline-block;
            text-align: center;
            align-self: center;
            align-items: center;
            align-content: center;
        }
        .card-img-top{
            background-color: rgba(255, 0, 0, 0.285);
            border: 1px solid transparent;
            border-radius: 1rem;
            background-image: url("https://wallpapers.com/images/hd/simple-white-polygons-knvwytp7clyae2wy.jpg") !important;
        }
        #heading{
            margin-top: 0% !important;
            padding-top: 0% !important;
        }
        #viewmore{
          width: 6rem !important;
          font-weight: 500;
          margin-right: 25%;
          height: 3rem;
        }
        #card {
            width: 16rem;
            transition: transform 0.3s ease;
        }
        #card:hover {
            transform: scale(1.10);
        }
    </style>
</head>
<%for(let i = 0; i <= 3; i++){%>
<div id="card" style="width: 16rem;">
    <img src= "<%=allCategories[i].mainimage%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="heading"><%=allCategories[i].name%></h5>
      <p class="card-text"><%=allCategories[i].description%></p>
    </div>
  </div>
  <%}%>
  <div id="card" style="width: 16rem;">
    <img src= "https://i.ibb.co/ts1frn8/DJ-Equipment-Guide.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="heading">View All Categories</h5>
      <button class="btn btn-primary" id="viewmore">View All</button>
    </div>
  </div>
