
<head>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/homeCarousel.css">
</head>
<div id="swapbox">
  <h1 id="heading2">Latest Products: </h1>
<section class="collection">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
  <div class="content swiper-slide">
    <img src="https://i.ibb.co/gyCR8SP/Smoke-machine.jpg" alt="Smoke-machine">
  </div>
  <div class="content swiper-slide">
    <img src="https://i.ibb.co/8BJLMx4/Pearl.jpg" alt="Pearl">    
  </div>
  <div class="content swiper-slide">
    <img src="https://i.ibb.co/j9C0wdY/Moving-ball.jpg" alt="Moving-ball">
  </div>
  <div class="content swiper-slide">
    <img src="https://i.ibb.co/6wcqyZx/LED.jpg" alt="LED">
  </div>
  <div class="content swiper-slide">
    <img src="https://i.ibb.co/2Ycgt0f/laser-ball.jpg" alt="laser-ball">
  </div>
  <div class="content swiper-slide">
    <img src="https://i.ibb.co/vZLZTMd/Blinder.jpg" alt="Blinder">
  </div>
  <div class="content swiper-slide">
    <img src="https://i.ibb.co/0sp4rT3/atomic-strobe.jpg" alt="atomic-strobe">
  </div>
  </div>
  </div>
</section>
</div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/javaScript/homeCarousel.js"></script>
</body>

</html>