<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
</head>
<body>
    <form action="/exp" method="POST">
        <input type="file" name="file" placeholder="hello">
        <input type="checkbox" name="check">
        <button>submit</button>
    </form>
    
</body>
</html>