
        #container {
            border: 1px solid black;
            width: 100% !important;
            height: 12rem;
            justify-content: center;
            background-color: black;
        }
        #audioximg {
            width: 23%;
            height: 70%;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        #canvas {
            width: 100%;
            height: 36rem;
            background-color: rgb(66, 66, 66);
            background-image: url("https://i.ibb.co/dmWts0N/audiox-bg.jpg");
            background-size: 93%;
            display: flex;
            align-items: center;
            background-position-x: -300px;
        }
        #text {
            color: white;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 200;
        }
        #logobox {
            margin: auto;
        }
        #adj {
            height: 80%;
            width: 25%;
            border: 1px solid white;
            display: inline-block;
        }
        #showytxt {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 500;
            color: white;
            font-size: 4rem;
            text-shadow: 0 0 2px rgba(255, 3, 3, 0), 0 0 20px rgba(255, 255, 255, 0), 0 0 40px rgba(255, 255, 255, 0.623), 0 0 60px rgba(255, 180, 180, 0.623);
            display: inline;
        }
        #showytxtbox {
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 11%;
        }
        #carousel {
            width: 100%;
            overflow: hidden;
            position: relative;
        }
        #cards {
            display: flex;
            transition: transform 0.5s ease-in-out;
            margin-bottom: 26%;
        }
        .card {
            flex: 0 0 22%; /* Show 4 cards at a time */
            margin-left: 3% !important;
            border: 1px solid transparent;
            border-radius: 1rem;
            width: 15rem; /* Adjusted width */
            height: 10rem; /* Adjusted height */
        }
        #go {
            height: 2.5rem;
            text-align: center;
        }
        #cardtxt {
            color: white;
            font-weight: 500;
            text-align: center;

        }
