#card{
    border: 1px solid rgb(179, 179, 179);
    margin: 1rem;
    border-radius: 1rem;
    display: inline-block;
}
.card-img-top{
    background-color: rgba(255, 0, 0, 0.285);
    border: 1px solid transparent;
    border-radius: 1rem;
    background-image: url("https://wallpapers.com/images/hd/simple-white-polygons-knvwytp7clyae2wy.jpg") !important;
}
#heading{
    margin-top: 0% !important;
    padding-top: 0% !important;
}
.card-text{
    text-decoration: none !important;
    color: black;
}
#viewmore{
  width: 6rem !important;
  font-weight: 500;
  margin-right: 25%;
  height: 3rem;
}
