
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#swapbox{
  background-image: url("https://i.ibb.co/s3DVKV0/wp3250283.jpg");
  height: 36rem !important;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 1%;

}
#swapbox2{
    width: 100%;
  }
.collection2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;

}
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection2 .content2{
    height: 22rem; 
    width: 22rem;  
    background-color: #ffffff;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 1rem;
    overflow: hidden;
    /* padding: .2rem; */
}
.collection .content{
    height: 27rem; 
    width: 26rem;  
    background-color: #544141;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 1rem;
    overflow: hidden;
    /* padding: .2rem; */
}

.content img{
    width: 100%;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.content2 img{
    width: 100%;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-content h3{
    font-size: 1.7rem;
    font-weight: 500;
}
.text-content p{
    max-width: 22rem;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
}
@media screen and (max-width: 900px){
  .collection .content{
    height: 15rem; 
    width: 15rem;  
    background-color: #ffffff;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 1rem;
    border-bottom: .4rem solid #0099ff00;
    border-top: .4rem solid #0099ff00;
    overflow: hidden;
    /* padding: .2rem; */
}
}

