@font-face {
    font-family:score;
    src: url(/fonts/Helvetica-Neue-97-Black-Condensed.ttf);
}

    @font-face {
    font-family: cabrion;
    src: url(/fonts/Cabrion-Bold.ttf);
}
        
        #heading{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #000000;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 2rem;
    font-family:score;
}

#heading2{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #ffffff;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 2rem;
    font-family:score;
}
body{
    background-repeat: no-repeat;
    background-color: gainsboro !important;
}