
    @media screen and (min-width: 1024px) {
      .dropdown:hover .dropdown-menu {
      display: block;
    }
    .navbar{
      height: 5rem;
      color: white;
      background-color: rgb(51, 51, 51) !important;
    }
    .brandname{
      align-content: center;
      padding-right: 3%;
      color: rgb(255, 82, 82);
      font-size: 2.3rem;
      line-height: 100%;
      text-align: center;
      font-family: score;
      letter-spacing: 2px;
      
    }


    .nav-link {
  font-size: 1.2rem;
  padding-bottom: 13%;
  color: rgb(255, 255, 255) !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: rgb(255, 255, 255);
  transition: width 0.3s ease, right 0.3s ease;
}

.nav-link:hover::after {
  width: 60%;
  right: 0;
}

.fa-shopping-cart {
  color: rgb(243, 123, 79) !important;
  margin-right: 0.9rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  transition: transform 0.2s ease;
}

.fa-shopping-cart:hover {
  transform: scale(1.2);
}

/* Add this CSS to your existing styles */
.dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn-primary{
  background-color: red;
  height: 4rem;
  width: 4rem;
  text-align:center !important;

}
#viewmore{
  margin-left: 30% !important;
}
    }
    @font-face {
    font-family: score;
    src: url(Helvetica-Neue-97-Black-Condensed.ttf);
}

    @font-face {
    font-family: cabrion;
    src: url(Cabrion-Bold.ttf);
}

@media screen and (max-width: 900px) {
  *{
    margin: 0% !important;
    padding: 0% !important;
  }

  .logo{
    margin: 0% !important;
    padding: 0% !important;
  }

  .brandname{
      color: rgb(255, 82, 82);
      font-size:1.3rem;
      line-height: 100%;
      text-align: center;
      letter-spacing: 2px;
      font-family: sans-serif;
      font-weight: 650;
      margin-right: 5.6% !important;
    }

    .navbar-toggler{

      margin-right: 3% !important;

    }


    .brand{
      padding-top: 2% !important;
    }
    .nav-link {
  display:block !important;
  font-size: 1.4rem;
  padding-bottom: 13%;
  color: rgb(255, 255, 255) !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  display: inline-block;
  padding-left: 2% !important;
  padding-bottom: 3.5% !important;
  background-color: rgb(51, 51, 51) !important;
  transition: 0.2s ease !important;
}

.nav-link:active{
  background-color: rgb(255, 86, 86) !important;
}
.nav-link:active::after{
  background-color: rgb(255, 181, 90) !important;
}
.dropdown-item{
  display: inline !important;
  max-width: 22%;
}

#audiox{
  max-width: 30%;
}

.btn-primary{
  background-color: red;
  height: 4rem;
  width: 4rem;
  margin: 0.6rem !important;
  text-align:center !important;
}
.category{
  max-width: 24% !important;
}
.searchbar{
  max-width: 60%;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  margin-right: 4% !important;
  margin-left: 6% !important; 
  margin-top: 4% !important;
  text-align: center !important;
}

.my-sm-0{
  margin-top: 6% !important;
  color: white;
  background-color: black;
  border-color: rgb(0, 0, 0);
  padding: 5px !important;
}
.fa-shopping-cart {
  color: rgb(243, 123, 79) !important;
  font-size: 1.6rem;
  margin-left: 2rem !important;
  margin-right: 0% !important;
  margin-top: 4% !important;


}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: rgb(255, 255, 255);
  transition: width 0.28s ease, right 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  right: 0;
}

.fa-list{
  color: white;
  font-size: 1.7rem;
}

}
    
    